@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-wrapper-transition-timing-function: linear;
  --swiper-pagination-color: #1ed760;
  --swiper-pagination-bullet-inactive-color: #1ed760;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 13px;
  --swiper-pagination-bottom: 0px;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #121212;
}
swiper-container {
  width: 1200px;
  height: 300px;
}
#container > #player {
  top: 58%;
  right: 20px;
}
#container:hover > #player {
  opacity: 1;
  top: 55%;
  right: 20px;
}

